:root {
    --primary-color: #f4d03f;
    --secondary-color: #333333;
    --white: #fff;
    --black: #000;
    --logo-font: "Lobster", sans-serif;
    --body-font: "Lato", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

html,
body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--white);
}

li {
    list-style: none;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: auto;
}

header {
    /* background-color: var(--primary-color); */
    padding: 25px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10; 
}

header.scroll {
    background-color: var(--primary-color);
    transition: background-color 0.3s ease;
}

header.scroll a {
    color: var(--black);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    font-family: var(--logo-font);
    font-size: 30px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
}

nav a {
    font: 600 16px/20px var(--body-font);
}

.account-bar {
    display: flex;
    gap: 30px;
}

.account-bar i {
    margin-right: 7px;
}

#hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#hero-section::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.297); 
    z-index: 1;
}

.bg-video {
    position: absolute;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white); /* Text color */
    z-index: 2;
}

.hero-content h1 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 40px;
    font: 900 76px/90px var(--body-font);
    letter-spacing: 7px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-bar input {
    padding: 20px;
    width: 600px;
    font-size: 18px;
    border: 1px solid rgb(213, 212, 212);
    border-radius: 15px; 
    outline: none;
    background-color: transparent;
    color: var(--white);
}

.search-bar input::placeholder{
    color: var(--white);
}

.search-bar button {
    position: absolute;
    right: 12%; 
    top: 50%; 
    transform: translateY(-50%);
    padding: 12px;
    font-size: 700 18px/22px var(--body-font);
    background-color: var(--primary-color);
    color: var(--black);
    border: none;
    border-radius: 10px; 
    cursor: pointer;
}

#uni-section .swiper-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

#uni-section .swiper-slide {
    width: 175px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#uni-section .swiper-slide img {
    width: 100px;
    height: auto;
}

#services {
    padding: 50px 0;
    text-align: center;
    height: 70vh;
}

#services h2 {
    font: 600 36px/42px var(--body-font);
    margin: 50px 0px;
}

.service-container {
    display: flex;
    justify-content: space-around;
}

.service-box {
    width: 30%;
    padding: 30px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    transition: transform 0.8s ease;
    position: relative;
    color: var(--white);
    cursor: pointer;
}

.service-box h3{
    font: 700 20px/26px var(--body-font);
}

.service-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.8s;
}

.service-box i {
    font-size: 40px;
    margin: 30px 0px;
}

.service-info {
    display: none;
    font: 600 16px/20px var(--body-font);
    margin-top: 20px;
}

.service-box:hover .service-info {
    display: block;
    transition: all ease 0.8s;
}

#about-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color:whitesmoke;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80vh;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-content {
    max-width: 50%;
    padding-left: 30px;
}

.about-content h2 {
    font-size: 36px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.about-content p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.about-content ul {
    margin-top: 20px;
    margin-bottom: 30px;
    list-style-type: disc;
    padding-left: 20px;
    font-size: 16px;
    line-height: 1.6;
}

.about-content i {
    margin-right: 10px;
}

.about-content ul li {
    margin-bottom: 10px;

}

.btn-apply {
    background-color: var(--primary-color);
    color: var(--black);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.btn-apply:hover {
    background-color: #e7ba08;
}

#countries-section {
    text-align: center;
    padding: 50px 0;
    height: 90vh;
}

#countries-section h2 {
    font: 600 36px/42px var(--body-font);
    margin-bottom: 50px;
}

.countries-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.country-card {
    background-color: var(--white);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    border: 1px solid #666;
}

.country-card:hover {
    transform: scale(1.05);
}

.country-card img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.country-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.country-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.learn-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.learn-more-btn:hover {
    background-color: darken(var(--primary-color), 10%);
}


#testimonials {
    text-align: center;
    padding: 50px 0;
    background-color: var(--primary-color);
}

#testimonials h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: var(--white);
}

.testimonials-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.testimonial-card {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.testimonial-card:hover {
    transform: scale(1.05);
}

.testimonial-card p {
    font-size: 18px;
    font-style: italic;
    color: #666;
    margin-bottom: 15px;
}

.testimonial-card h4 {
    font-size: 20px;
    color: var(--secondary-color);
    margin-bottom: 5px;
}

.testimonial-card span {
    font-size: 16px;
    color: #999;
}

.highlight {
    background-color: rgba(255, 223, 186, 0.8);
    border-left: 5px solid var(--primary-color);
}

#footer {
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 50px 0 0px;
    margin-top: 150px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 20px;
}

.footer-about, .footer-links, .footer-contact {
    width: 30%;
}

.footer-about h3, .footer-links h3, .footer-contact h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.footer-links ul {
    padding: 0;
    list-style: none;
}

.footer-links li {
    margin-bottom: 20px;
}

.footer-links a {
    color: var(--white);
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-contact p {
    margin-bottom: 20px;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    background-color: #222;
    font-size: 14px;
}

.footer-bottom p {
    margin: 0;
    color: var(--white);
}
